@font-face {
    font-family: 'debby';
    src: url('../fonts/Debby.woff2') format('woff2'),
         url('../fonts/Debby.woff') format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mullerregular';
    src: url('../fonts/fontfabric_-_mullerregular_2-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_-_mullerregular_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
    background-size: cover;
	background-position: 0 0;
}
header{
	display: flex;
	align-items: center;
}

img{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 180px;
	margin-right: 120px;
}
li{
	display: inline-block;
}
.menu{
	 font-family: 'mullerregular';
     text-decoration: none;
     color: #ffffff;
     margin-right: 50px;
     text-align: center;
     font-size: 18px;
}
.first_line{
	font-family: 'debby';
	font-size: 80px;
	color:  #ffffff;
	text-align: center;

}
section{
	 margin-top: 100px;
}
.second_line{
	font-family: 'debby';
	font-size: 50px;
	color:  #ffffff;
	text-align: center;
}
.btn{
	font-family: 'mullerregular';
	padding: 10px 20px;
	font-size:  28px;
	background-color: #771111;
	color:  #ffffff;
	border: none;
	position: relative;
	left: 42%;
	right: 50%;
	margin-top: 40px;
}

.fab{
	margin-right: 15px;
	font-size: 24px;
	color: #ffffff;
	position: relative;
	left: 250px;
}









