*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', 'Dosis', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.73;
	color: #777777;
	background-color: #fff;
}
img{
	display: block;
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
.top_header{
	background-color: #9e9e9e;
	padding-top: 35px;
}
li{
	display: inline;
	letter-spacing: 2px;
}
nav{
   margin-top: -20px;
}
.city_background{
	min-height: 900px;
	background-repeat: no-repeat;
    background-size: cover;
	background-position: 0 0;
	text-align: center;
}
.city_content{
	padding-top: 270px;
}
.city_text{
	color: rgba(254, 254, 254, 0.9);
	margin-top: 100px;
	font-size: 19px;
	font-family: 'Open Sans', 'Dosis', Arial, sans-serif;
	font-weight: 300;
}
.city_name{
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 200;
	color:  rgba(254, 254, 254, 0.9);
	letter-spacing: 1.5em;
}

.logo{
	display: inline-block;
	padding-left: 30px;
}
.menu{
	font-size: 11px;
	color: #ffffff;
	text-transform: uppercase;
	float: right;
	padding-right: 35px;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
.container{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.row{
	margin: 0 -15px;
}
.row:after{
	content: '';
	display: table;
	clear: both;
}
.col{
	padding: 0 15px;
	float: left;
}

.col_1-3{
	width: calc(100% / 3);
}
.col_1-2{
	width: 50%;
}
.col_1-5{
	width: 20%;
}
.section{
	padding: 130px 0;
}
.section_black{
	background-color: #000;
	
}
.section_black h2{
	color: #fff;
}
.section_bordered{
	border-top: 1px solid #ececec;
}
.text-center{
	text-align: center;
}
.section_heading:after{
    content: '';
    display: table;
    clear: both;
}
.section_heading h2{
	float: left;
}


h2{
	font-family: 'Open Sans', 'Dosis', Arial, sans-serif;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 75px;
	letter-spacing: 0.5em;
	font-weight: 400;
	color: #111111;
	letter-spacing: 0.5;
	font-size: 18px;
}


blockquote{
	padding: 0;
	margin: -5px 0 0;
}

q{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 24px;

}
q:before
q:after{
	display: none;
}
cite{
	padding-top: 25px;
	display: block;
	font-size: 11px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}
.employeers{
	margin: 100px 0 100px 0;
}

.employee_card{
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	line-height: 1;
}
.employee_name{
	padding: 30px 0 15px;
}

.employee_position{
	font-size: 12px;
}

.col_wrap{
	height: 185px;
	position: relative;
}
.img_holder{
	position: absolute;
	right: 0;
	top: calc(-50% - 75px);
}
.Looking_for{
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	font-size: 18px;
	margin-bottom: 30px;
}
.btn_lets-talk{
	margin-top: 45px;
	padding: 15px 35px;
	border-radius: 4px;
	text-transform: uppercase;
	color: #111111;
	background-color: #cfcfcf;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

/* Icon Fonts*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?w48lvs');
  src:  url('../fonts/icomoon.eot?w48lvs#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?w48lvs') format('truetype'),
    url('../fonts/icomoon.woff?w48lvs') format('woff'),
    url('../fonts/icomoon.svg?w48lvs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linegraph:before {
  content: "\e039";
}
.icon-chat:before {
  content: "\e049";
}
.icon-heart:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}
.icon-airballoon:before {
  content: "\e903";
}
.icon-flag:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-display:before {
  content: "\e956";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-info:before {
  content: "\ea0c";
}


/*Tabs*/

.tads_nav{
	list-style: none;
    margin: 0; 
}

.tabs_nav:after{
	content: '';
	display: table;
	clear: both;
}
.tabs_nav-item{
    float: left;
    width: 20%;
    padding: 0 15px; 
}
.tabs_nav-link{
	transition: opacity .3c;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	opacity: 0.5;
	font-size: 14px;
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.4em;
}
.tabs_nav-link:hover,
.tabs_nav-link.active {
    opacity: 1;
}

.tabs_nav-link i { 
    font-size: 50px;
}
.tabs_nav-text{
	padding-top: 30px;
}
.tab_content:not(:first-child){
	display: none;
}
.tabs_content{
	margin-top: 75px;
}


/* Latest news blog*/

.blog_link{
	float: right;
	text-decoration: none;
	font: 11px 'Dosis', 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: #999;
}
.section_article-img{
	margin-bottom: 30px;
}
.section_article-heading{
	color: #777;
	text-transform: uppercase;
	font-size: 15px;
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	letter-spacing: 0.2em;
	margin-bottom: 10px;
}
.section_article-header{
	color: #999;
	font: 11px 'Dosis', 'Open Sans', Arial, sans-serif;;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-bottom: 24px;
}
.section_article-text{
	font-size: 15px;
	color: #777;
	font-weight: 300;
}
.section_article-text p{
	margin-bottom: 20px;
}
.btn{
	font-size: 11px;
	color: #777;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	letter-spacing: 0.2em;
	border-radius: 3px;
	padding: 7px 10px;
	min-width: 120px;
	text-align: center;
}

.btn_default{
	background-color: #e5e5e5;
}

/*Carousel styles*/

.carousel_heading{
    margin-bottom: 0 auto 40px;
}
.carousel_heading i{
    font-size: 34px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.testimonials_carousel .slick-list{
	max-width: 780px;
	margin: 0 auto;
}
.slick-arrow{
	position: absolute;
	left: 0;
	top: -40px;
	width: 45px;
	height: 90px;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0);
	text-align: center;
	padding: 37px 0;
}

.slick-arrow:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	border-width: 45px 0px 45px 45px;
	border-style: solid;
	border-color: transparent transparent transparent #fff;
	width: 0;
	height: 0;
}
.slick-arrow.slick-next{
	left: auto;
	right: 0;
}

.slick-arrow span{
	position: relative;
	line-height: 1;
	font-size: 16px;
	z-index: 2;
	vertical-align: middle;
}
.slick-arrow.slick-next:before{
	left: auto;
	right: 0;
	border-width: 45px 45px 45px 0;
	border-color: transparent #fff transparent transparent;
}
.slick-dots{
	list-style: none;
	padding-top: 40px 0 0;
	text-align: center;
	margin: 0;
}
.slick-dots li{
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
	padding:0 3px;
}
.slick-dots li button{
	background-color: #fff;
	border: 1px solid transparent;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	font-size: 0;
	margin: 0;
	padding: 0;
	color: transparent;
}
.slick-dots li.slick-active button{
	background-color: transparent;
	border-color: #fff;
}
.testimonials_slide{
	text-align: center;
}
.testimonials_content{
	width: 100%;
	max-width: 730px;
	font-size: 18px;
	color: #fff;
}
.testimonial_p{
	font-size: 11px;
	text-transform: uppercase;
	padding-top: 20px;
	letter-spacing: 2px;
}
/*Choose us*/


.icon_choose{
	display: block;
	text-align: center;
	font-size: 48px;
	color: #111111;
	padding-bottom: 25px;
}
.choose_name{
	text-align: center;
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
    color: #111111;
    padding-bottom: 30px;
}
.choose_text{
	font-family: 'Open Sans', Arial, sans-serif;
	color: #777777;
	font-size: 14px;
	text-align: left;
}
.first_line{
	padding-bottom: 70px;
}

/*Portfolio*/


.text-portfolio{
	width: 100%;
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 80px;
}
.section_portfolio{
	padding-top: 130px;
}
.tabs_nav_portfolio{
	text-align: center;
}
.tabs_nav-item_portfolio{
	display: inline-block;
	padding: 0 15px;
}
.img_portfolio{
	display: inline;
	max-width: 477px;
    width: 100%;
}
.tab_content_portfolio:not(:first-child){
	display: none;
}
.like_works{
	background-color: #111;
}
.like_text{
	font-family: 'Dosis', 'Open Sans', Arial, sans-serif;
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	padding: 60px 0 20px 0;
	margin: 0;
}
.btn_like{
	font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    left: 41%;
    font-size: 14px;
    color: #111;
    padding: 15px 40px;
    margin-bottom: 65px;
}
/*Informed style*/

.section_informed{
	background-color: #f8f8f8;
}
.text_informed{
	font-size: 16px;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 20px;
}
input[placeholder]{
	font-family: 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	color: #777;
	padding: 10px 0 10px 10px;
}
.enter_email{
	width: 260px;
}
.btn-subscribe{
	background-color: #111;
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	padding: 10px 20px;
	letter-spacing: 2px;
}
.form-input{
	margin-bottom: 20px;
	position: relative;
	left: 36%;
}
.trust_text{
	display: inline;
	color: #aaaaaa;
	font-size: 12px;
}
.icon-info{
	font-size: 12px;
}
.trust_us{
	text-align: center;
}